$danger: #be99ff;
@import './scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500&display=swap');

* {
  transition: all 0.3s !important;
  font-family: 'Poppins', sans-serif;
}

.heading-1 {
  text-align: center;
  margin: 80px 0 40px 0;
  font-weight: 800;
}

.active {
  background-color: $danger !important;
}

.from-w {
  width: 35% !important;
}

.div {
  position: relative;
  display: inline-block;

  .button__badge {
    background-color: #fa3e3e;
    border-radius: 15px;
    color: white;

    padding: 5px 9px;
    font-size: 10px;

    position: absolute;
    /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }
}
.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 5px 13px;
  background-color: $danger;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* Optional transition for smoother appearance */
  opacity: 1; /* Initially hidden */
  box-shadow: $warning 0px 10px 20px -12px;
  z-index: 111;
}


.cart-img {
  width: 20% !important;
  height: 20% !important;
}

@media screen and (max-width: 600px) {
  .cart-img {
    width: 60% !important;
    height: 20% !important;
  }
}