    .product-grid {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        position: relative;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .product-grid .product-image {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-grid .product-image a.image {
        display: block;
    }

    .product-grid .product-image img {
        // width: 100%;
        transition: all 5s;
    }

    .product-grid:hover .product-image img {
        transform: scale(1.2);
    }

    .product-discount-label {
        color: #fff;
        background: $danger;
        // border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 10px;
        font-weight: 600;
        // line-height: 25px;
        padding: 0 5px;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .product-grid .product-links {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 10px;
        right: -50px;
        transition: all .5s ease 0s;
    }

    .product-grid:hover .product-links {
        right: 10px;
    }

    .product-grid .product-links li a {
        color: #fff;
        background: transparent;
        font-size: 17px;
        line-height: 38px;
        width: 30px;
        height: 30px;
        border: 1px solid #5a5a5ace;
        border-bottom: none;
        display: block;
        transition: all 0.3s;
        background: #333;
    }

    .product-grid .product-links li:last-child a {
        border-bottom: 1px solid #333;
    }

    .product-grid .product-links li a:hover {
        color: $danger;
        background: #fff;
        border: none !important;
    }

    .product-grid .add-to-cart {
        background: white;
        text-decoration: none;
        color: $danger;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        padding: 10px 26px;
        position: absolute;
        left: 0;
        bottom: -60px;
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .add-to-cart {
        bottom: 0;
    }

   

    .product-grid .title {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 7px;
    }

    .product-grid .title a {
        text-decoration: none;
        color: #dddddd;
        transition: all 0.3s ease 0s;
    }
