.deal {
  margin-top: 150px !important;
    background: linear-gradient(135deg, hsla(3, 67%, 89%, 1) 0%, hsla(265, 92%, 95%, 1) 50%, hsla(213, 100%, 95%, 1) 100%);

  margin-bottom: 50px !important;

  h1 {
    font-size: 55px;
  }
}

@media (max-width:430px) {
  .deal {
    h1 {
      font-size: 25px !important;
    }
  }
}

.pay-deal {
  .deal-card {
    img {
      width: 20% !important;
      margin-right: 5px;
    }
  }
}