.footer {
    .show-none {
        display: block !important;
    }

}

@media (max-width:600px) {
    .footer {
        padding-bottom: 5rem !important;
        .show-none {
            display: none !important;
        }
    }
}