.hero {
    .number-mian {
        width: 70px !important;
        border-radius: 50px !important;

        .button {
            width: 10px !important;
            height: 10px !important;
        }
    }

    .carousel {
        height: 62vh !important;
        position: relative !important;

        .carousel-item {
            border-radius: 10px;
            height: 470px !important;

            img {
                border-radius: 10px;
                height: 100% !important;
            }

            .carousel-content {
                padding: 15px !important;
                position: absolute !important;
                top: 40px;
                left: 20px;

                h3 {
                    color: #fff;
                }
            }

        }
    }

}
.teimeradd {
    background-image: url('../Assets/images/hero/4.jpg');
    background-position: right;
    background-size: cover;
    height: 60%;
    border-radius: 10px;

    .time-card {
        font-weight: bold !important;
    }
}





.bth-hover {
    border-radius: 50px;
    border: none;
    padding: 13px 40px;
    background-color: $danger !important;
    color: #fff !important;
    margin-top: 20px;
}

.bth-hover:hover {
    background-color: #565656 !important;
}

.bth-hover-two {
    border-radius: 50px;
    border: none;
    padding: 13px 40px;
    background-color: #565656 !important;
    color: #fff !important;
    margin-top: 20px;
}

.bth-hover-two:hover {
    background-color: $danger !important;
   

}