.team {

    .social-link i {
        cursor: pointer;
    }

    .social-link i:hover {
        color: $danger !important;
    }

}

.cart-img {
    width: 45% !important;
    height: 20% !important;
}